.new-cost__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  padding: 15px 20px;
  background-color: #aac4d1;
  border-radius: 10px;
}

.new-cost__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-cost__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-cost__actions {
  text-align: left;
}

.new-cost__actions button {
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #2a5b84;
  font-weight: 900;
  color: white;
  transition: 0.5s;
}

.new-cost__actions button:hover {
  background-color: #5b93c2;
}
.new-cost__actions button:active {
  transform: scale(0.98);
}
